---
layout: default
item-meta: true
panorama: true
map-on: true
custom-foot: "js/simple-map-js.html"
---
{%- assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}
{% assign videos = children | where_exp: 'item','item.display_template contains "video"' %}
{% assign panoramas = children | where_exp: 'item','item.display_template contains "panorama"' %}
{% assign images = children | where_exp: 'item','item.display_template contains "image"' %}


<style>
    #map {
        height: 320px;
        width: 320px;
        border-radius: 50%;
        border: black 3px ridge;
        margin-left: 15%;

    }
</style>
<div class="container-fluid py-3">


    <div class="row">

        <div class="col-md-12 ">
            <div class="card mb-4 text-center mx-auto ">

                {% include item/panorama.html %}

            </div>
        </div>
        <div class="col-12">
            <h2 class="mt-3 mb-5 ml-2 display-3">{{page.title}}</h2>
        </div>
        <div class="col-md-6">
            
            <div class="col-12 my-3 mx-auto text-center">
                <div id="map"> </div>
            </div>
        </div>

        <div class="col-md-6 my-2">
            <p class="col-12 my-3">{{page.description}}</p>
            
            <p class="ml-3">
               {% if videos.size > 0 %} {% include feature/button.html text="Videos" link="#videos" color="outline-info btn-lg m-2" %}{% endif %}
               {% if panoramas.size > 0%}  {% include feature/button.html text="Panoramas" link="#panoramas" color="outline-info btn-lg m-2" %}{% endif %}
               {% if images.size > 0 %}  {% include feature/button.html text="Images" link="#images" color="outline-info btn-lg m-2" %}{% endif %}

            </p>
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="h4 display-5 font-italic my-5" style="line-height: 1.5em;">
                {{page.narrative | markdownify }}
            </div>
        </div>
    </div>

   

    <div id="videos">
        {% for v in videos %}
        <div class="row">
            <div class="col-md-4 p-4 {% cycle 'group1': 'order-first offset-md-2', 'order-last'%}">
                <div class="my-3 p-3 mx-auto text-center">
                    {% include feature/video.html objectid=v.object_location caption=c.title %}'
                </div>
            </div>
            <div
                class="col-md-4 p-4 align-self-center justify-content-end {% cycle 'group1': 'order-first offset-md-2 float-right', 'nothing'%} ">
                <div class="w-75 {% cycle 'group1': 'float-right','nothing'%}"> {{v.description}}</div>
            </div>
        </div>
    {% endfor %}

    </div>
    <div id="panoramas">



        {% for p in panoramas %}
        <div class="row">
            <div class="col-md-6 p-4 {% cycle 'group2': 'order-first offset-md-2', 'order-last'%}">
                <div class="my-3 p-3 mx-auto text-center">
                    {% include feature/panorama.html pano_object=p.object_location panoid=p.objectid height="400px"%}
                </div>
            </div>
            <div class="col-md-4 p-4 align-self-center justify-content-end {% cycle 'group2': 'order-first offset-md-2',''%} ">
                <div class="w-75 {% cycle 'group2': 'float-right',''%}"> {{p.description}}</div>
            </div>
        </div>
       {% endfor %}

    </div>
    <div class="row" id="images">
        <div class="col-md-6 offset-md-3 p-4" id="images">

            {%- assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}
            {% for i in images %}
            <div class="my-3 p-3 mx-auto text-center">
                {% include feature/image.html objectid=i.objectid%}
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<!--<div class="row justify-content-end mt-4">
        <div class="col-md-5">
            {% include item/citation-box.html %}
        </div>
        {% if page.rights or page.rightsstatement %}
        <div class="col-md-5">
            {% include item/rights-box.html %}
        </div>
        {% endif %}
    </div>-->

{%- if site.data.theme.browse-buttons == true -%}
{% include item/browse-buttons-firetower.html %}
{%- endif -%}
</div>