---
layout: default
item-meta: true
panorama: true
---
<div class="container-fluid py-3">

    

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4 text-center">

                {% include item/panorama.html %}
                
       
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="mt-2 mb-4 ml-5">{{page.title}}</h2>
            
            <p>{{page.description}}</p>
            
            <p class="text-center">
            {% include feature/button.html text="Videos" link="#videos" color="outline-info btn-lg m-2" %}
            {% include feature/button.html text="Panoramas" link="#panoramas" color="outline-info btn-lg m-2" %}
            {% include feature/button.html text="Images" link="#images" color="outline-info btn-lg m-2" %}

            </p>

        </div>
</div>
</div>
<div class="container-fluid">
 
    <div class="row">
        <div class="col-md-6 p-4" id="videos">
           
            {%- assign children = site.data[site.metadata] |  where_exp: 'item','item.parentid == page.objectid' %}
            {% for c in children %}
            {% if c.display_template contains 'video' %}
            <div class="my-3 mx-auto text-center">
            {% include feature/video.html objectid=c.object_location caption=c.title %}

            </div>
            {% endif %}{% endfor %}
        </div>
        <div class="col-md-6 p-4" id="panoramas">

            {%- assign children = site.data[site.metadata] |  where_exp: 'item','item.parentid == page.objectid' %}
            {% for c in children %}
            {% if c.display_template contains 'panorama' %}
            <div class="my-3 p-3 mx-auto text-center">
            {% include feature/panorama.html pano_object=c.object_location panoid=c.objectid height="400px"%}
            </div>
            {% endif %}{% endfor %}

                     
        </div>
        <div class="col-md-6 p-4" id="images">

            {%- assign children = site.data[site.metadata] |  where_exp: 'item','item.parentid == page.objectid' %}
            {% for c in children %}
            {% if c.display_template contains 'image' %}
            <div class="my-3 p-3 mx-auto text-center">
            {% include feature/image.html objectid=c.objectid%}
            </div>
            {% endif %}{% endfor %}

                     
        </div>
        <div class="col-md-6">
            {% include item/metadata.html %}
           
            
        </div>
    </div>

    <div class="row justify-content-end mt-4">
        <div class="col-md-5">
            {% include item/citation-box.html %}
        </div>
        {% if page.rights or page.rightsstatement %}
        <div class="col-md-5">
            {% include item/rights-box.html %}
        </div>
        {% endif %}
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>