---
layout: default
item-meta: true
panorama: true
map-on: true
custom-foot: "js/simple-map-js.html"
---
{% assign tower = page.objectid %}
{% assign towertitle = page.title %}
{%- assign rextower = site.data.rexdata | where_exp: 'item', 'item.title == towertitle' -%}
{% capture rextowerurl%}{% for tower in site.data.rexdata %}{% if tower.title == page.title %}{{tower.url}}{% endif %}{% endfor %}{% endcapture %}
<style>
    #map {
        height: 320px;
        width: 320px;
        border-radius: 20%;
        margin-left: 15%;

    }
</style>
<div class="container-fluid py-3">


    <div class="row">
        <div class="col-12">
            <h2 class="mt-1 mb-5 mx-5 ps-5 display-3">{{page.title}}{% unless page.title contains 'Lookout' %} Lookout{% endunless %}</h2>
        </div>
        <div class="col-md-6">
            
            <div class="col-lg-8 my-3 mx-auto text-center">
                <div id="map" class="border border-info border-2"> </div>
            </div>
        </div>

        <div class="col-md-6 my-2">
            <p class="col-lg-8 ms-3 my-3">{{page.title}} is located at {{page.latitude}} ,{{page.longitude}}. <br><br>
            For more information on this fire tower, visit Rex Kamstra's Forest Fire Lookout page on this firetower: <br><br>
            <a class="btn btn-outline-info" href="{{rextowerurl}}" target="_blank">{{rextowerurl}}</a> </p>
          
        </div>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="h4  my-5" style="line-height: 1.5em;">
                {{page.narrative | markdownify }}
            </div>
        </div>
    </div>

   


</div>

<!--<div class="row justify-content-end mt-4">
        <div class="col-md-5">
            {% include item/citation-box.html %}
        </div>
        {% if page.rights or page.rightsstatement %}
        <div class="col-md-5">
            {% include item/rights-box.html %}
        </div>
        {% endif %}
    </div>-->

{%- if site.data.theme.browse-buttons == true -%}
{% include item/browse-buttons-firetower.html %}
{%- endif -%}
</div>