<nav class="navbar">
    <div class="container-fluid px-0">
        
        <button class="navbar-toggler {% if page.layout == 'home' %}text-white{% else %}btn btn-outline-info btn-lg {% endif %}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open navigation">
            <p class="h1 nationalparkfont">
                {% include feature/icon.html icon="map" label="Map icon" %}</p>
        </button>
        
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel"><a class="text-dark" href="{{ '/' | relative_url }}">{{ site.title }}</a></h2>
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="h5 mb-3 text-start">{{ site.tagline }}</p>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
                    {% for nav in navItems %}
                    {% if nav.stub %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-info btn-lg mb-2  text-center{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    </li>
                    {%- else -%}
                    <li class="nav-item dropdown">
                        {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                        {%- assign childStubs = navChildren | map: 'stub' -%}
                        <a class="nav-link btn btn-outline-info mb-2 btn-lg text-center dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                        <div class="dropdown-menu">
                            {% for c in navChildren %}
                            <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    {%- endfor -%}
                </ul>

                <div class="mt-5">
                    <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                        <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home" >
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</nav>