<div class="container" >
    <div class="row align-items-center p-1" id="collection-banner">
        <div id="title" class="col-12 col-md-10 ps-0 ps-md-5">
            <h1 class="text-nowrap"><a id="main-title" class="text-dark font-weight-normal text-uppercase display-1 ps-2" href="{{ site.baseurl }}/" >KEEPING W<span class="d-none">A</span><img src="{{ '/objects/firetower-as-letter.png' | relative_url }}" class="mx-0 px-0 d-none d-md-inline" style="height:56px;margin-top:-16px"><img src="{{ '/objects/firetower-as-letter.png' | relative_url }}" class="mx-0 px-0 d-inline d-md-none" style="height:36px;margin-top:-6px">TCH</a></h1>	 
        </div>
        <div class="col-12 col-md-2 px-0">
            {% include collection-nav.html %}
            
        </div>
    </div>
</div>
