
<div class="border border-info p-4  rounded-3" id="homepage-box" style="border-width: 4px !important;border-style: double !important; border-radius: 10px !important">
<p class="small"><b>Keeping Watch</b> is a deep mapping project that plots fire lookouts in the state of Idaho through lived histories.</p>

<p class="small">Each blue circle on the map represents the watch radius of a fire lookout we've documented. <b>Zoom in to explore.</b></p>

{% include feature/button.html text="For more context, read the essays" color="info" link="essay/present.html"  centered="true"%}

{% include feature/button.html text="Browse the Firetowers" color="outline-info" link="browse.html" centered="true" %}

{% include feature/button.html text="Learn More about the Project" color="outline-secondary" link="about.html" centered="true"%}
</div>