
<div class="d-none d-md-block">
<div class="border border-info p-4 rounded-3" id="homepage-box-left" style="border-width: 4px !important;border-style: double !important; border-radius: 10px !important">
<p class="small"><b>Keeping Watch</b> is a deep mapping project that plots fire lookouts in the state of Idaho through lived histories.</p>

{% include feature/button.html text="For more context, read the project essay" color="info" link="essay/"  centered="true"%}

{% include feature/button.html text="Learn More about the Project" color="outline-secondary" link="about.html" centered="true"%}
</div>
</div>