/*  
    pages - style tweaks related to individual CB pages
    although most presentation is controlled by Bootstrap classes, these styles are necessary for default visualization pages to function correctly
*/
/* index */
.carousel-item-title{
    background-color: rgba(37, 36, 36, 0.72);
}

/* item page */
.gallery-img {
    cursor: pointer;
}
#item-nav {
    a { 
        position: absolute;
        top:500px;
    }
    .previous { left:10px; }
    .next{ right:10px; }
}

/* browse */

/* map */
#map { height: 800px; z-index: 98; background-color: white; }
.map-thumb {
    height: 100px;
    max-width: 100%;
}
.leaflet-fusesearch-panel .header {
    padding-bottom: 1.5em;
}




/* timeline */
.timeline-thumb {
    height: 110px;
    max-width: 100%;
}
/* subjects */
.tagcloud0{font-size:0.4em;}
.tagcloud1{font-size:0.5em;}
.tagcloud2{font-size:0.8em;}
.tagcloud3{font-size:1.1em;}
.tagcloud4{font-size:1.4em;}
.tagcloud5{font-size:1.6em;}
.tagcloud6{font-size:1.9em;}
.tagcloud7{font-size:2.2em;}
.tagcloud8{font-size:2.5em;}
.tagcloud9{font-size:2.8em;}
.tagcloud10{font-size:3.0em;}

/* About */
/* creating a narrow text column */ 
.about-contents > {
    h2 {
        font-weight: bold;
        padding-top: 20px;
        font-size: 60px;
    }
    
    h1, h2, h3, h4, h5, h6 {
        max-width: 720px;
        margin: 1.5rem auto 1rem;
    }
    
    p, .about-narrowed-content, .footnotes, ol, ul, .step, article{
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }

}



/* narrow text block for page-narrow layout */
.page-narrow {
    h1, h2, h3, h4, h5, h6, p, ol, ul, .footnotes, .narrow-content { 
        max-width: 650px;
        margin-left: auto;
        margin-right: auto; 
    }
}



.compound-thumb {
    max-height: 400px;
    max-width: 100%;
}
// compound object big modal class
@media (min-width:576px){
    .modal-xxl{ max-width:80%; } 
}
@media (min-width:992px){
    .modal-xxl{ max-width:80%; } 
}
@media (min-width:1200px){ 
    .modal-xxl{ max-width: 80%;  }
}





/* Fading effects */


/* Initially, steps are invisible */
.step {
    opacity: 0;
    transition: opacity 0.5s;
    h2{
       font-size: 5rem !important; 
    }
}


.step.fade-in {
    opacity: 1;
    transition: opacity 1.85s ease-in;
}

.step.fade-out {
    opacity: 0;
    transition: opacity 1.85s ease-out;
}
/* To make sure the first step starts visible */
#scrolly article .step:first-child {
    opacity: 1;
}

.step{
    margin-top:200px;
}