---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---
<style>
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100%;
    }
    .leaflet-top .leaflet-control-zoom, .leaflet-control-layers{
    display: none;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    
    margin-top: 80px;
}
.liblogo-corner img {
    height: 45px;
}
</style>
<div id="map" style="position:fixed;"></div>

<div style="z-index:1000; position:fixed; left: 5%; top:20%; width:370px">{% include homepage-box-left.html %}</div>

<div style="z-index:1000; position:fixed; right: 5%; bottom:20%; width:370px">{% include homepage-box-right.html %}</div>


<a class="d-md-block position-absolute bottom-0 start-0 p-3 liblogo-corner bg-dark bg-opacity-75" href="https://www.lib.uidaho.edu/" title="University of Idaho Library home" target="_blank" rel="noopener" style="z-index:100">
    <img alt="University of Idaho Library" src="https://www.lib.uidaho.edu/media/digital/liblogo_transparent.png">
</a>